*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #999;
  background: url() no-repeat center center;

  min-height: 100vh;

  font-family: "Raleway";
  background-image: url("../Imagenes/fondoDos.jpg");

  background-color: #fbfbfb;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.a {
  text-decoration: none;
}
.btnfinalizarcompra {
  display: flex;
  justify-content: center;
  width: 20%;
}
header {
  display: flex;
  height: 8rem;
  width: 100%;
}
.logo {
  height: 6.5rem;
}

.btnbuy {
  width: 3rem;
}
.mainCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
main {
  padding-bottom: 10rem;
  flex-grow: 1;
}
.logo {
  height: 6.5rem;
  width: auto;
}

/* //////////////////////                     NAV            ////////////////////////////////////    */
.imgnavmenudesplegable {
  height: 3rem;
}
.dropdown-menu {
  background-color: rgba(255, 255, 255, 0) !important;
}
a {
  color: black !important;
  text-decoration: none !important;
}
.navbar {
  color: black !important;
  text-decoration: none !important;
}
.nav-bar-toggler {
  border: none !important;
}
.divnav {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0px;
}

/*CARDS*/

.p-header {
  margin-left: 1.5rem;
}

.title2 {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-size: 4rem;
  color: rgba(245, 245, 245, 0.87);
  text-shadow: 2px 0 0 rgba(19, 18, 18, 0.671), -2px 0 0 rgba(19, 18, 18, 0.671),
    0 2px 0 rgba(19, 18, 18, 0.671), 0 -2px 0 rgba(19, 18, 18, 0.671),
    1px 1px rgba(19, 18, 18, 0.671), -1px -1px 0 rgba(19, 18, 18, 0.671),
    1px -1px 0 rgba(19, 18, 18, 0.671), -1px 1px 0 rgba(19, 18, 18, 0.671);
}

h2 {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  height: 100vh;
}

.container__cards {
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container__cards {
  background-color: rgba(0, 0, 0, 0);
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border-radius: 2rem;
  width: 31%;
  margin: 10px;
  transition: all 300ms;
  background-color: #eaeaea;
  box-shadow: 7px 13px 37px #000;
}

.card .cover {
  border-radius: 2rem;
  width: 100%;
  height: 22rem;
  position: relative;
  overflow: hidden;
  background-color: #eaeaea;
}

.card .cover img {
  box-shadow: 7px 13px 37px #000;
  border-radius: 1rem;
  width: 250px;
  display: block;
  margin: auto;
  position: relative;
  top: 40px;
  z-index: 1;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.5));
  transition: all 400ms;
}

.card .img__back {
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: -80px;
  left: 0;
  background-size: cover;
  border-radius: 20px;
  transition: all 300ms;
}

.card:nth-of-type(1) .img__back {
  background-image: url(https://i.ibb.co/HGnXjYq/bg1.jpg);
}

.card:nth-of-type(2) .img__back {
  background-image: url(https://i.ibb.co/swsWmMQ/bg2.jpg);
}

.card:nth-of-type(3) .img__back {
  background-image: url(https://i.ibb.co/wSKR72W/bg3.jpg);
}

.card .description {
  width: 100%;
  background: white;
  margin-top: -10px;
  padding: 20px;
  border-radius: 0px 0px 20px 20px;
  transition: all 300ms;
  background-color: #eaeaea;
}

.card .description h2 {
  margin-top: 10px;
}

.card .description p {
  margin-top: 10px;
}

.card .description input {
  padding: 10px 40px;
  margin-top: 20px;
  border: none;
  background: #3d4046;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 300ms;
}

.card .description input:hover {
  background: #3d4046;
}
